*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    overflow-x: hidden;
}
.header{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.header img{
    width: 200px;
    height: 80px;
    margin-top: 5px;
}
.header .about{
    font-size: 15px;
    width: 200px;
    color: gray;
    margin-top: 10px;
}
.header .about:hover{
    text-decoration-line: underline;
    text-decoration-color: blue;
    cursor: pointer;
}   
.header .about2{
    font-size: 15px;
    width: 170px;
    color: gray;
    margin-top: 10px;
}
.header .about2::before{
    content: "Пн-Вс 9:00-19:00" ;
}
.header .about2:hover{
    text-decoration-line: underline;
    cursor: pointer;
    text-decoration-color: blue;
}  
.header .about2:hover::before{
    text-decoration-line: underline;
    text-decoration-color: blue;
} 
.header .about3{
    font-size: 15px;
    width: 140px;
    color: gray;
    margin-top: 10px;
}
.header .about3 .button{
    padding: 10px;
    background-color: #087792;
    color: white;
}
.header .about3 .button:hover{
    color: black;
    transition: .4s;
    text-decoration: none;
    cursor: pointer;
}
.liness{
    width: 100vw;
    height: 80px;
    background: #053947;
    margin-top: 10px;
    position: absolute;
    z-index: 1;
}
.liness ul{
    width: 90%;
    margin: auto;
    display: flex;
    color: white;
}
.liness ul li{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    margin-top: 12px;
}
.liness ul li a{
    color: white;
    transition: .4s;
}
.liness ul li a:hover{
    color: #FFAA06;
}
.liness ul::before{
    content: "Системы безопасности";
    color: #FFAA06;
    margin-left: 10px;
    margin-top: 12px;
}
.body img{
    width: 100vw;
    height: 500px;
    margin-top: 90px;
    position: absolute;
    z-index: -999999;
}
.body-text{
    color: white;
    position: relative;
    top: 200px;
    left: 180px;
    z-index: -1;
}
.body-text h4{
    font-weight: 200;
    font-size: 25px;
}
.body-text h1{
    font-weight: bold;
    font-size: 46px;
}
.body-text p{
    width: 350px;
    font-weight: 100;
}
.body-indicators{
    position: relative;
    top: 250px;
    left: 180px;
    z-index: -1;
}
.body-indicators .btn-1{
    padding: 10px;
    background-color: white;
    color: black;
    font-weight: 400;
    font-size: 16px;
    border: 2px solid transparent;
}
.body-indicators .btn-1:hover{
    background-color: transparent;
    color: white;
    border: 2px solid white;
    transition: .4s;
    cursor: pointer;
}
.modal{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(128, 128, 128, 0.514);
}
.modal form{
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
    font-size: 20px;
}
.modal form input{
    margin: 5px;
    padding: 10px;
    font-size: 20px;
}
#form-button{
    background-color: transparent;
    transition: .4s;
    border: 2px solid white;
    color: white;
    padding: 10px;
}
#modal-kapat{
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgb(185, 0, 0);
    border-bottom-left-radius: 5px;
    cursor: pointer;
    transition: .4s;
    padding: 3px;
}
#modal-kapat:hover{
    background-color: red;
}
#modal-kapat2{
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgb(185, 0, 0);
    border-bottom-left-radius: 5px;
    cursor: pointer;
    transition: .4s;
    padding: 3px;
    color: rgb(0, 0, 0);
}
#modal-kapat2:hover{
    background-color: red;
}
#form-button:hover{
    background-color: white;
    border: 2px solid transparent;
    color: #000;
}
.modal-2{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(128, 128, 128, 0.514);
}
.modal-2 form{
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
    font-size: 20px;
}
.modal-2 form input{
    margin: 5px;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
}
.products{
    width: 100vw;
    height: 500px;
    margin: auto;
    margin-top: 350px;
}
.product{
    margin: auto;
    padding: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.card{
    width: 250px;
    margin-top: 20px;
}
.card img{
    width: 100px;
    margin-left: 65px;
}
.card h4{
    padding-top: 20px;
    font-size: 18px;
    font-weight: 300;
    min-width: 220px;
    text-align: center;
}
.card p{
    padding-top: 20px;
    font-size: 14px;
    font-weight: 200;
    color: gray;
    text-align: center;
}
.card h4:hover{
    color: gray;
    transition: .4s;
    cursor: pointer;
    font-weight: 600;
}
.card p:hover{
    color: black;
    transition: .4s;
    cursor: pointer;
    font-weight: 300;
}
.vectors{
    width: 100vw;
    background-color: #f2f2f2;
    display: flex;
    align-items: center;
}
.vector{
    padding: 10px 60px;
}
.vector img{
    padding-left: 25px;
}
.vector h5{
    font-size: 18px;
    font-weight: 300;
    padding-top: 30px;
}
.contact{
    width: 100vw;
    height: 350px;
    background-color: #053947;
}
.contact .main-contact{
    width: 60vw;
    height: 32vh;
    background-color: white;
    position: relative;
    top: 33px;
    left: 250px;
}
.contact  h2{
    font-size: 22px;
    font-weight: 400;
    padding-top: 30px;
    padding-left: 255px;
    color: white;
}
.contact  h2:hover{
    cursor: pointer;
}
.contact p{
    font-size: 18px;
    font-weight: 300;
    margin-top: -33px;
    margin-left: 650px;
    color: gray;
    transition: .4s;
}
.contact  p:hover{
    text-decoration-line: underline;
    text-decoration-color: red;
    color: white;
    transition: .4s;
    cursor: pointer;
}
form{
    display: block;
    padding: 20px;
}
.main-contact h3{
    font-size: 22px;
    font-weight: 300;
    text-align: center;
    padding-top: 20px;
}
.main-contact h4{
    font-size: 14px;
    font-weight: 200;
    text-align: center;
    padding-left: 30px;
}
#box{
    position: relative;
    top: 100px;
    right: 650px;
}
#btn{
    width: 200px;
    height: 40px;
    position: relative;
    top: 23px;
    background-color: #087792;
    color: white;
}
.free{
    width: 90%;
    margin: auto;
}
.free h1{
    font-size: 25px;
    font-weight: 400;
    width: 400px;
    padding-top: 50px;
}
.free p{
    font-size: 14px;
    padding-left: 400px;
    width: 60vw;
    margin-top: -100px;
    font-weight: 300;
}
.free h6{
    width: 300px;
    font-size: 14px;
    margin-left: 800px;
    font-weight: 300;
    margin-top: -420px;
}
.vectors-2{
    width: 100vw;
    height: 550px;
    background-color: #f2f2f2;
}
.vectors-2 h2{
    display: flex;
    justify-content: center;
    font-size: 34px;
    font-weight: 500;
}
.vectors-2 .v-bg{
    width: 80%;
    margin: auto;
    padding-top: 10px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.vectors-2 .v-bg .vector-2{
    width: 25%;
    margin-top: 40px;
    padding-left: 20px;

}
.vectors-2 .v-bg .vector-2 p{
    padding-top: 10px;
    padding-right: 40px;
}
.insta{
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
}
.insta img{
    width: 20%;
}
#h4{
    text-align: center;
    padding: 40px 0;
}
.robo{
    position: relative;
}
.robo .bg img{
    position: absolute;
    z-index: -1;
    width: 100%;
}
#h1{
    width: 10%;
    margin: auto;
    color: white;
    font-size: 50px;
    font-weight: 200;
}
.robo .col-6{
    position: absolute;
    top: 140px;
    left: 80px;
    color: white;
    width: 500px;
}
.robo .col-6 .col-6-txt{
    position: absolute;
    top: -30px;
    left: 200px;
}
.row2{
    position: relative;
    top: -60px;
    left: 600px;
}
.robo .btn{
    display: flex;
    justify-content: center;
    margin-top: 300px;
    margin-left: 550px;
    border: 2px solid black;
    padding: 10px 5px;
    width: 200px;
    background-color: transparent;
    font-size: 18px;
}
.robo .btn:hover{
    background-color: #087792;
    color: white;
    border: 2px solid white;
    font-size: 18px;
}
.faqs{
    margin-top: 30px;
}
.faqs h1{
    font-size: 45px;
    font-weight: 300;
    margin-top: 60px;
    margin-bottom: 60px;
}
.faqs .faq{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    background-color: #087792;
    border-radius: 10px;
}
.faqs .faq i{
    margin-top: 18px;
    margin-left: 40px;
}
.faqs .faq h4{
    margin-top: 5px;
    margin-left: 50px;
    min-width: 800px;
}
.acilir-menu{
    width: 90%; 
    margin: auto; 
    padding: 10px; 
    background-color: #087792; 
    color: white; 
    display: none;
    margin-top: -12px;
    border-radius: 5px;
}
.map{
    margin-top: 80px;
    width: 100%;
    position: relative;
}
.map .map-main{
    position: absolute;
    z-index: -1;
}
.footer{
    width: 100%;
    background-color: #042A34;
    height: 500px;

}
.footer .content{
    width: 90%;
    margin: auto;
    color: white;
    display: flex;
}
.footer .content .logo img{
    margin-top: 100px;
}
.footer .content .menuss{
    width: 30%;
    max-width: 400px;
    margin-top: 100px;
    margin-left: 80px;
}
.footer .content .menuss h5::after{
    content: "____";
    color: #FFAA06;
    position: relative;
    top: 10px;
    left: -50px;
}
.footer .content .menuss h6{
    margin-top: 15px;
    font-size: 20px;
    font-weight: 300;
}
.footer .content .kontakt{
    margin-top: 100px;
    margin-left: 80px;
}
.footer .content .kontakt h4::after{
    content: "____";
    color: #FFAA06;
    position: relative;
    top: 10px;
    left: -90px;
}
.footer .content .kontakt i{
    margin-top: 20px;
}
.footer .content .kontakt .citesss{
    font-size: 40px;
    margin-left: 20px;
    cursor: pointer;
}
.menu{
    display: none;
}
@media screen and (max-width: 480px){
    *{
        margin: 0;
        padding: 0;
        font-family: "Poppins";
        box-sizing: border-box;
    }
    .header{
        display: none;
    }
    .liness{
        display: none;
    }
    .wrapper{
        color: black;
        float: right;
    }
    .container{
        float: left;
        height: 25px;
        width: 40px;
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        position: relative;
    }
    .menu{
        width: 90%;
        height: 100vh;  
        padding: 10px;
        transform: translateX(-600px);
        transition: .5s;
        display: block;
        z-index: 999;
    }
    .showmenu{
        transform: translateX(-20px);
    }
    .menulogo{
        width: 30px;
        height: 3px;
        background-color: #042A34;
    }
    .menu li{
        list-style: none;
        padding: 15px 0;
        border-bottom: 1px solid white;
        text-align: center;
        background: #053947;
    }
    .menu li:first-child{
        background: #042A34;
    }
    .menu li:first-child a{
        font-weight: bold;
    }
    .menu li:last-child{
        border-bottom: none;
    
    }
    .menu li a{
        color: snow;
        text-decoration: none;
        font-size: 25px;
        text-align: center;
        transition: .4s;
    }
    .menu li a:hover{
        font-weight: bold;
    }
    .body img{
        width: 100%;
        display: flex;
        justify-content: center;
        overflow: hidden;
    }
    .body .body-text{
        margin-left: -150px;
    }
    .body .body-text h4{
        font-size: 18px;
    }
    .body .body-text h1{
        font-size: 35px;
    }
    .body .body-text p{
        font-size: 12px;
    }
    .body .body-indicators{
        margin-left: -180px;
    }
    .body-indicators button{
        width: 20%;
        margin-left: 10px;
    }
    .products{
        width: 100%;
        height: 210vh;
        padding-left: 35px;  
        background-color: rgb(196, 196, 196);  
    }
    .vectors{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    .vectors h5{
        width: 100%;
    }
    .vectors .vector{
        width: 50%;
        margin: 0 auto;
    }
    .cont{
        margin-top: -885px;
    }
    .contact{
        height: 60vh;
    }
    .contact h2{
        font-size: 40px;
        margin-left: -200px;
    }
    .main-contact{
        margin-top: -120px;
        margin-left: -250px;
        padding: 0;
        width: 100% !important;

    }
    .main-contact h3{
        width: 100%;
    }
    .free p{
        width: 200% !important;
        margin-left: -400px;
        margin-top: 50px;
    }
    .free h6{
        width: 100% !important;
        margin-top: 50px;
        margin-left: -5px;
    }
    .vectors-2{
        height: 110vh;
    }
    .vectors-2 .vector-2{
        width: 50% !important;
    }
    .vectors-2 .vector-2 img{
        width: 50px;
    }
    #h4{
        font-size: 25px;
    }
    .insta img{
        width: 100%;
    }
    .robo .bg img{
        height: 100vh;
    }
    #h1{
        margin-left: 120px;
    }
    .robo{
        display: block;
    }
    .robo{
        display: none;
    }
    .faqs button h4{
        font-size: 16px;
        margin-left: 0px !important;
    }
    .map img{
        width: 200% !important;
    }
    .footer{
        height: 235vh;
    }
    .footer .content{
        display: block;
        margin-left: -60px;
        font-size: 30px ;
    }
    .footer .content .menuss h5{
        font-size: 30px;
    }
    .footer .content .menuss h6{
        font-size: 25px;
    }
    .footer .content .logo{
        margin-left: 100px;
    }
}